body {
  font-family: "Montserrat", sans-serif;
    background: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}
  .border {
    padding: 40px;
    border: 1px solid #08caf0 !important;
  }
  .input-group {
    display: flex;
    align-content: space-evenly;
    gap: 5px;
    align-items: first baseline; 
    width: 100%;
  }
  @media (max-width: 574px) {
    #search-form {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     width: 50%;
    }
  }
  @media (max-width: 575.98px) {
    .input-group {
      width: 100%;
      margin-left: 30px;
    }
  }
  @media (min-width: 575.98px) {
    .input-group {
      width: 100%;
      margin-left: 50px;
    }
  }
  #search-form {
      display: flex;
      align-content: space-evenly;
      gap: 5px;
      align-items: first baseline; 
      width: 85%;
  }
  .input-group-append {
    display: flex;
    align-content: space-evenly;
    align-items: first baseline; 
    gap: 5px;
    width: 50%;
  }
  .form-control {
    border: 1px solid #347474 !important;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  }
  .btn-outline-secondary.second {
    background-color: white;
    border: 1px solid #347474 !important;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  }
  .btn-outline-secondary.second:hover {
    background-color: #347474;
    transition: all 200ms ease-in-out;
  }
  .btn-outline-secondary.primary {
    background-color: white;
    border: 1px solid #347474 !important;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  }
  .btn-outline-secondary.primary:hover {
    background-color: #347474;
    transition: all 200ms ease-in-out;
  }
  .display-input strong {
    font-size: 10px;
  }
  .circle {
    display: table;
    text-align: left;
    margin: 0 auto;
  }
  .square {
    display: table;
    text-align: left;
    margin: 0 auto;
    margin-top: 5px;
    line-height: 35px;
    padding-inline-end: 0;
    padding: 15px;
    max-width: 85%;
  }
  .card-title {
    font-size: 40px;
  }
  .contact-details {
    text-align: center;
  }
  .email {
    color: #347474;
    font-weight: bolder;
  }
  .instagram {
    color: #347474;
    font-weight: bolder;
  }
  .link {
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
  }
  .link:hover {
    color: #347474;
    text-decoration: none;
  }
  .link-github {
    display: block;
    text-align: center;
  }
  .border-light {
    text-align: center;
  }
  .card-header {
  font-size: 16px; 
  text-align: center; 
  }
  .card-text {
    font-size: 14px;
    text-align: center;
  }
  canvas {
    text-align: left;
    margin: 0 auto;
    margin-left: auto;
  }
  .icon {
    margin-top: 10px;
  }
  .description {
    display: table;
    margin-right: auto;
  }
  .temp-max {
    opacity: 0.5;
  }
  .city {
    font-size: 28px;
    font-weight: bold;
    color: #347474;
  }
  .temp {
    font-size: 30px;
    font-weight: bold;
    line-height: 43px;
    padding-left: 5px;
    vertical-align: top;
    color: #347474;
  }
  a .units {
    vertical-align: top;
    font-size: 10px;
    margin-left: 5px;
  }
  a .units:hover {
    text-decoration: none;
    color: #347474;
  }
  .square .wind, .pressure, .humidity, .feels-like {
    color: #347474;
  }